<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <button ion-button full (click)="takePhoto()" >
  <ion-icon name="camera"></ion-icon>Take Photo
  </button>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full (click)="sendPhoto()" >
    <ion-icon name="send"></ion-icon>Send Photo
  </button>
<div class="box">
  <div class="back-taco-shell"></div>
  <div class="rim"></div>
  <div class="box-cover"></div>
  <div class="lettuce-back">
    <div class="leaves-back-1"></div>
    <div class="leaves-back-2"></div>
    <div class="leaves-back-3"></div>
    <div class="leaves-back-4"></div>
    <div class="leaves-back-5"></div>
    <div class="cheese-string-1"></div>
  </div>
  <div class="meat-container">
    <div class="meat-1"></div>
    <div class="meat-2"></div>
    <div class="meat-3"></div>
    <div class="meat-4"></div>
    <div class="meat-5"></div>
    <div class="meat-dot-1"></div>
    <div class="meat-dot-2"></div>
    <div class="meat-dot-3"></div>
    <div class="meat-dot-4"></div>
    <div class="meat-dot-5"></div>
    <div class="meat-dot-6"></div>
    <div class="meat-dot-7"></div>
    <div class="meat-dot-8"></div>
    <div class="meat-dot-9"></div>
    <div class="meat-dot-10"></div>
    <div class="meat-dot-11"></div>
    <div class="meat-dot-12"></div>
    <div class="meat-dot-13"></div>
    <div class="meat-dot-14"></div>
    <div class="meat-dot-15"></div>
    <div class="cheese-string-2"></div>
    <div class="cheese-string-3"></div>
    <div class="cheese-string-4"></div>
  </div>
  <div class="tomato-1"></div>
  <div class="tomato-2"></div>
  <div class="lettuce-front">
    <div class="leaves-front-1"></div>
    <div class="leaves-front-2"></div>
    <div class="leaves-front-3"></div>
    <div class="leaves-front-4"></div>
    <div class="leaves-front-5"></div>
  </div>
  <div class="front-taco-shell">
    <div class="hide"></div>
    <div class="hide-1"></div>
    <div class="dot-1"></div>
    <div class="dot-2"></div>
    <div class="dot-3"></div>
    <div class="dot-4"></div>
    <div class="dot-5"></div>
    <div class="dot-6"></div>
    <div class="dot-7"></div>
    <div class="dot-8"></div>
    <div class="dot-9"></div>
    <div class="dot-10"></div>
    <div class="dot-11"></div>
    <div class="dot-12"></div>
    <div class="dot-13"></div>
    <div class="dot-14"></div>
  </div>
  <div class="bottom"></div>
</div>
</ion-content>